.black-theme {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.pink-theme {
  background-color: #ebced0 !important;
  color: #000000 !important;
}

.custom-shadow-pink {
  box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.4);
}

.custom-shadow-black {
  box-shadow: 8px 8px 5px 2px rgb(235, 206, 208, 0.7);
}

.scrollIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: opacity 0.3s;
  z-index: 100;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.scrollArrow {
  width: 16px;
  height: 16px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
  transition: border-color 0.3s;
}

.scrollIndicator:hover .scrollArrow {
  border-color: #000;
}

.scrollIndicator:hover {
  opacity: 0.8;
}
