.post-image-container {
  width: 100%; /* Set the desired fixed width for the image container */
  max-width: 100%;
  overflow: hidden;
}

.post-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .md\:w-96 {
    width: 34rem /* 384px */;
  }
}

.save-post-container {
  z-index: 10;
}

.save-post-container .ant-tooltip-inner {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
}

.save-post-container .ant-tooltip-inner::before {
  border-top-color: rgba(0, 0, 0, 0.75);
}

.save-post-container .ant-tooltip-arrow {
  border-top-color: rgba(0, 0, 0, 0.75);
}
